.joyride-tip-guide {
  z-index: 10000;
}
.joyride-tip-guide.tip-tour-switch {
  top: 35px !important;
  right: 35px !important;
  left: auto !important;
}
.joyride-tip-guide.tip-tour-switch .joyride-nub {
  right: 28px;
  left: auto;
}
.joyride-tip-guide .button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  /* 3 */
  padding: 0.25em 1.5em;
  -webkit-appearance: none;
  /* 3 */
  -moz-appearance: none;
  /* 2 */
  cursor: pointer;
  transition: all 0.1s;
  /* 1 */
  text-align: center;
  text-decoration: none;
  color: #333;
  /* 4 */
  border: 1px solid #a6a6a6;
  border-radius: 0;
  background-color: #f2f1eb;
  text-shadow: 0 1px rgba(255, 255, 255, 0.6);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  /* 6 */
}
.joyride-tip-guide .button:hover,
.joyride-tip-guide .button:focus {
  text-decoration: none;
  color: #1a1a1a;
  outline: none;
  background-color: #f9f8f6;
  background-image: linear-gradient(to bottom, #fcfcfa, #e9e9dd);
}
.joyride-tip-guide .button:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.125);
}
.joyride-tip-guide .button:focus {
  z-index: 10;
  border: 1px solid #3ab2ff;
  box-shadow: 0 0 0.5em 0.1em rgba(51, 177, 255, 0.7);
}
.joyride-tip-guide .button:active {
  transition: none;
  border: 1px solid #a6a6a6;
  background-color: #dfdfd9;
  background-image: linear-gradient(to bottom, #f6f6f3, #e7e7df);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}
.joyride-tip-guide .button--primary {
  color: #fff;
  border-color: #1e5c90;
  background-color: #0071b8;
  background-image: linear-gradient(to bottom, #007bc6, #0071b8);
  text-shadow: 0 1px rgba(0, 0, 0, 0.5);
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}
.joyride-tip-guide .button--primary:hover,
.joyride-tip-guide .button--primary:focus {
  color: #fff;
  border-color: #0071b8;
  background-color: #2369a6;
  background-image: linear-gradient(to bottom, #0c97ed, #1f86c7);
}
.joyride-tip-guide .button--primary:focus {
  border: 1px solid #1280df;
}
.joyride-tip-guide .button--primary:hover {
  box-shadow: 0 1px 2px rgba(23, 26, 28, 0.25);
}
.joyride-tip-guide .button--primary:active {
  border-color: #144b78;
  background-image: linear-gradient(to bottom, #08639b, #0071b8);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}
.joyride-tip-guide h2,
.joyride-tip-guide .heading-b {
  margin: 0.625rem 0;
  font-size: 1.385em;
  font-weight: bold;
}

[dir=rtl] body .joyride-tip-guide.tip-tour-switch {
  top: 35px !important;
  right: auto !important;
  left: 135px !important;
}
[dir=rtl] body .joyride-tip-guide .joyride-nub {
  right: auto;
  left: 28px;
}

.shepherd-element {
  z-index: 999;
}
.shepherd-element .button {
  display: inline-block;
  margin: 1rem 0.75rem 1rem 0;
  padding: calc(1rem - 1px) calc(1.5rem - 1px);
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #222330;
  border: 1px solid transparent !important;
  border-radius: 2px;
  background-color: #d4d4d8;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1rem;
  -webkit-font-smoothing: antialiased;
}
.shepherd-element .button:not(:focus) {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}
.shepherd-element .button--primary {
  color: #fff !important;
  background-color: #003cc5 !important;
}
