.joyride-tip-guide {
  z-index: 10000;
}

.joyride-tip-guide.tip-tour-switch {
  top: 35px !important;
  right: 35px !important;
  left: auto !important;
}

.joyride-tip-guide.tip-tour-switch .joyride-nub {
  left: auto;
  right: 28px;
}

.joyride-tip-guide .button {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: normal;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
  padding: .25em 1.5em;
  border: 1px solid #a6a6a6;
  border-radius: 0;
  background-color: #f2f1eb;
  color: #333;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, .6);
  font-weight: 600;
  font-size: .875rem;
  transition: all .1s;
  -webkit-font-smoothing: antialiased;
}

.joyride-tip-guide .button:hover,.joyride-tip-guide .button:focus {
  background-color: #f9f8f6;
  background-image: linear-gradient(to bottom, #fcfcfa, #e9e9dd);
  color: #1a1a1a;
  text-decoration: none;
  outline: none;
}

.joyride-tip-guide .button:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, .125);
}

.joyride-tip-guide .button:focus {
  z-index: 10;
  border: 1px solid #3ab2ff;
  box-shadow: 0 0 .5em .1em rgba(51, 177, 255, .7);
}

.joyride-tip-guide .button:active {
  border: 1px solid #a6a6a6;
  background-color: #dfdfd9;
  background-image: linear-gradient(to bottom, #f6f6f3, #e7e7df);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
  transition: none;
}

.joyride-tip-guide .button--primary {
  border-color: #1e5c90;
  background-color: #0071b8;
  background-image: linear-gradient(to bottom, #007bc6, #0071b8);
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, .5);
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}

.joyride-tip-guide .button--primary:hover,.joyride-tip-guide .button--primary:focus {
  background-color: #2369a6;
  background-image: linear-gradient(to bottom, #0c97ed, #1f86c7);
  border-color: #0071b8;
  color: #fff;
}

.joyride-tip-guide .button--primary:focus {
  border: 1px solid #1280df;
}

.joyride-tip-guide .button--primary:hover {
  box-shadow: 0 1px 2px rgba(23, 26, 28, .25);
}

.joyride-tip-guide .button--primary:active {
  background-image: linear-gradient(to bottom, #08639b, #0071b8);
  border-color: #144b78;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.joyride-tip-guide h2,.joyride-tip-guide .heading-b {
  font-weight: bold;
  margin: .625rem 0;
  font-size: 1.385em;
}

[dir=rtl] body .joyride-tip-guide.tip-tour-switch {
  top: 35px !important;
  left: 135px !important;
  right: auto !important;
}

[dir=rtl] body .joyride-tip-guide .joyride-nub {
  left: 28px;
  right: auto;
}

.shepherd-element {
  z-index: 999;
}

.shepherd-element .button {
  display: inline-block;
  margin: 1rem .75rem 1rem 0;
  padding: calc(1rem - 1px) calc(1.5rem - 1px);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #222330;
  border: 1px solid rgba(0, 0, 0, 0) !important;
  border-radius: 2px;
  background-color: #d4d4d8;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1rem;
  -webkit-appearance: none;
          appearance: none;
  -webkit-font-smoothing: antialiased;
}

.shepherd-element .button:not(:focus) {
  box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
}

.shepherd-element .button--primary {
  color: #fff !important;
  background-color: #003cc5 !important;
}

.shepherd-element[data-popper-placement^=bottom].tip-module-varbase-tour>.shepherd-arrow {
  top: -1.55rem;
  border-top-color: rgba(0, 0, 0, 0);
  border-right-color: rgba(0, 0, 0, 0);
  border-left-color: rgba(0, 0, 0, 0);
}

.shepherd-element[data-popper-placement^=left].tip-module-varbase-tour>.shepherd-arrow {
  right: -1.55rem;
}

.shepherd-element.tip-module-varbase-tour {
  border-radius: 0;
  z-index: 3000;
}

.shepherd-element.tip-module-varbase-tour:focus {
  box-shadow: #3f8dc2 0px 0px 5px 0px;
}

#toolbar-tab-tour .toolbar-icon.is-active {
  background-image: none !important;
  background-color: rgba(0, 0, 0, 0) !important;
  box-shadow: 0 0 0 1px var(--gin-color-focus-border), 0 0 0 4px var(--gin-color-focus);
}

