body {
  .admin-toolbar__logo {
    border-radius: 0 !important;
  }

  .toolbar-block__list {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  // Fix styles for the responsive preview navigation bar button.
  .responsive-preview-navigation-bar button {
    font-size: 0 !important;
  }

  // Justify content of Gin breadcrumb to center in the navigation top bar.
  .top-bar.gin--navigation-top-bar {
    .top-bar__tools {
      .gin-breadcrumb {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-inline-end: 1rem;
      }
    }
  }
}
