input[type=text] {
  max-width: 100%;
}

.views-exposed-form__item [id*=edit-created-from],.views-exposed-form__item [id*=edit-created-to],.views-exposed-form__item [id*=edit-user-created-from],.views-exposed-form__item [id*=edit-user-created-to],.views-exposed-form__item [id*=edit-content-created-from],.views-exposed-form__item [id*=edit-content-created-to] {
  width: 9rem;
}

.views-exposed-form__item [id*=edit-langcode],.views-exposed-form__item [id*=edit-uid] {
  width: 12rem;
}

.views-exposed-form__item .ui-autocomplete-input {
  padding-right: 32px;
}

.gin--edit-form .field--name-title .form-element {
  font-size: 1.6em;
  width: 100%;
}

.gin--edit-form .field--name-title input {
  min-height: 4rem;
}

.node-form .field--name-title .length-indicator {
  margin-top: -1rem;
}

.media-library-widget .fieldset-wrapper {
  padding: var(--gin-spacing-density-s);
}

body.path-admin .panel.dashboard-block {
  display: block;
  margin-top: var(--gin-spacing-m);
  margin-bottom: var(--gin-spacing-m);
  border: var(--gin-border-xxs) solid var(--gin-border-color-layer2);
  background-color: var(--gin-bg-layer3);
  box-shadow: var(--gin-shadow-l1);
}

body.path-admin .panel.dashboard-block p {
  padding: var(--gin-spacing-m);
}

.node-form div.autocomplete-deluxe-container {
  width: 65%;
}

@media screen and (max-width: 81.25rem) {
  .node-form div.autocomplete-deluxe-container {
    width: 100%;
  }
}

.node-form div.autocomplete-deluxe-container:not(.autocomplete-deluxe-multiple) input.autocomplete-deluxe-form {
  width: 100%;
}

.node-form .field--type-yoast-seo input {
  width: 66%;
}

@media screen and (max-width: 81.25rem) {
  .node-form .field--type-yoast-seo input {
    width: 100%;
  }
}

.focal-point-preview-link {
  padding: var(--gin-spacing-l);
  text-decoration: none;
}

.media-library-item .media-library-item__preview {
  padding-bottom: 0 !important;
}

.media-library-item--grid .field--name-thumbnail img {
  width: 100% !important;
}

aside#admin-toolbar .admin-toolbar__logo {
  border-radius: 0;
  margin: 1rem;
}

.views-exposed-form.views-exposed-form fieldset[data-drupal-selector$=-from-wrapper],.views-exposed-form.views-exposed-form fieldset[data-drupal-selector$=-to-wrapper] {
  padding: 0 !important;
  border: 0 !important;
  margin: .9rem 0 0 0 !important;
}

.views-exposed-form.views-exposed-form fieldset[data-drupal-selector$=-from-wrapper]>.fieldset__legend>.fieldset__label,.views-exposed-form.views-exposed-form fieldset[data-drupal-selector$=-to-wrapper]>.fieldset__legend>.fieldset__label {
  padding: 0;
  margin-bottom: var(--gin-spacing-xxs);
}

.views-exposed-form.views-exposed-form fieldset[data-drupal-selector$=-from-wrapper] legend,.views-exposed-form.views-exposed-form fieldset[data-drupal-selector$=-to-wrapper] legend {
  margin-bottom: var(--gin-spacing-xs);
}

.views-exposed-form.views-exposed-form fieldset[data-drupal-selector$=-from-wrapper] input,.views-exposed-form.views-exposed-form fieldset[data-drupal-selector$=-to-wrapper] input {
  height: 1rem !important;
  margin-top: var(--gin-spacing-xxs) !important;
}

[dir=ltr] .views-exposed-form.views-exposed-form fieldset[data-drupal-selector$=-from-wrapper] .fieldset__wrapper,[dir=ltr] .views-exposed-form.views-exposed-form fieldset[data-drupal-selector$=-to-wrapper] .fieldset__wrapper {
  margin-left: 0 !important;
}

[dir=ltr] .views-exposed-form.views-exposed-form fieldset[data-drupal-selector$=-from-wrapper] .form-item,[dir=ltr] .views-exposed-form.views-exposed-form fieldset[data-drupal-selector$=-to-wrapper] .form-item {
  margin-left: 0 !important;
}

[dir=rtl] .views-exposed-form.views-exposed-form fieldset[data-drupal-selector$=-from-wrapper] .fieldset__wrapper,[dir=rtl] .views-exposed-form.views-exposed-form fieldset[data-drupal-selector$=-to-wrapper] .fieldset__wrapper {
  margin-right: 0 !important;
}

[dir=rtl] .views-exposed-form.views-exposed-form fieldset[data-drupal-selector$=-from-wrapper] .form-item,[dir=rtl] .views-exposed-form.views-exposed-form fieldset[data-drupal-selector$=-to-wrapper] .form-item {
  margin-right: 0 !important;
}

.views-exposed-form__item input[data-drupal-selector*=edit-uid] {
  width: 18rem;
}

